@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}
body{

   overflow-x: hidden;
   
}
.general-bg{
    text-align: center;
    justify-content: center;
    display: block; 
    background-color: #8A0707;
    color: white;
    margin: 40px;
   
    padding: 20px;
}
.general-bg h1{
    font-size: 50px;
    font-weight: 900;
   margin: 20px 20px;
}
.general-bg .ox{
    color: #B79090;
    font-size: 16px;
    margin-bottom: 20px;

}
.general-bg p{
    font-size: 20px;
    font-weight: 400;
}
.general-bg div.img-container{
    background-image: url("./Images/1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
 
    margin-bottom: 40px;
}
.general-bg div.img-container .inner{
    width: 100%;
   background-color: rgba(39, 4, 5, 0.815) !important;
   box-shadow: 0 2px 4px rgba(22, 17, 17, 0.1);
   padding: 30px;
}
.general-bg div.img-container img{
    width: 80%;
    margin-bottom: 30px;
    height: 100%;
}
.general-bg h3{
    font-size: 25px;
    margin-bottom: 20px;
    
}
.general-bg ul {
    
    list-style-position: inside; 
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    place-content: center; 
}
.general-bg ul li{
 width: 50%; 
 font-size: 16px;
 text-align: start;
 margin-top: 20px;
 font-weight: 400;
}
.general-bg .italic-text{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    margin: 30px 0px 30px 0px;
}
.general-bg .italic-text i{
    width: 50%;
    text-align: start;
}
.general-bg h4{
    font-size: 20px;
    margin: 20px 20px;
    font-weight: 700;
}
.general-bg h4 a{
    text-decoration: underline;
    color: #614F6A;
 
}
.general-bg h5{
    font-size: 16px;
    font-weight: 400;
}